<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Word Highlighter</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../static/libs/css/materialize.min.css">
    <link rel="stylesheet" href="../static/libs/css/jqcloud.css">
    <link rel="stylesheet" href="../static/css/appIO.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">-->
</head>
<body>
<nav class="light-blue lighten-1">
    <div class="container"><a href="#" class="brand-logo left">Word Highlighter</a>
        <ul class="right">
            <li>Room: <span id="room-name"></span></li>
            <li><span id="user-cnt">0</span> Users</li>
        </ul>
    </div>
</nav>
<div class="container middle-container">
    <div class="section">
        <div class="row playground">
            <div class="col s3 red chat-msgs lighten-5">
                <h5>Chat</h5>
                <div id="room-msgs"></div>
            </div>
            <div class="col s9">
                <div class="word-cloud"></div>
            </div>
        </div>

    </div>
    <div class="row send-section no-pad-bot">
        <div class="col s12">Username: <span id="username-place-holder">Connecting</span></div>
        <form action="#" id="send-msg">
            <div class="col s8"><input type="text" placeholder="Type a new message" id="send-msg-data"></div>
            <div class="col">
                <button class="btn waves-effect waves-light" type="submit" name="action">Send
                </button>
            </div>
            <div class="col manual-send">
                Manual Control
                <!-- Switch -->
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" id="manual-send">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Test using socketIO and flask</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            2017 Copyright Oscar Ramirez
            <a class="grey-text text-lighten-4 right" href="https://github.com/tuxskar/trending-highlighter">Github</a>
        </div>
    </div>
</footer>


<!-- Compiled and minified JavaScript -->

{% assets filters="jsmin", output="gen/libs.js",
"libs/js/socket.io.min.js", "libs/js/jquery.2.2.4.min.js",
"libs/js/materialize.js", "libs/js/jqcloud.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets output="gen/appIO.js",
"js/appIO.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


</body>
</html>
